body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #88d5e9;
    color: #333;
    font-family: "calibri", sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    max-width: 100vh;
}

.container {
    text-align: center;
    padding: 2rem;
    border-radius: 7px;
    max-width: 80%;
}

p {
    border: 5rem #fff;
    color: blue;
}